@import './colors';

.text-success {
  color: $--color-success;
}
.text-danger {
  color: $--color-danger;
}
.text-primary {
  color: $--color-primary;
}
.text-title {
  color: $--color-text-title;
}
.text-regular {
  color: $--color-text-regular;
}
.text-secondary {
  color: $--color-text-secondary;
}

.font-weight-500 {
  font-weight: 500;
}