@import "./_colors.scss";
@import "./_helpers.scss";

$--font-path: '~element-ui/lib/theme-chalk/fonts';
$--color-text-primary: #606266 !default;
$--avatar-background-color: $--color-primary !default;

@import "~element-ui/packages/theme-chalk/src/index";
