@import './_colors.scss';
@import './_scroll.scss';
@import './color-helpers';
@import './displays-helpers.scss';
@import './margin-padding.scss';

html {
  background: $--background-color-base;
}
html,
div,
span,
button,
ul,
li,
textarea,
input {
  font-family: 'Inter', sans-serif;
}
html,
body,
body > [class*='-view'],
.el-container,
.el-main {
  max-height: 100vh;
  height: 100vh;
}
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}
.d-flex {
  display: flex !important;
}
.d-none {
  display: none !important;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.flex-column {
  flex-direction: column;
}
.text-center {
  text-align: center;
}
.el-header {
  margin: 20px 0;
}
.el-input-number {
  width: 100% !important;
}
.el-aside {
  // width: 400px !important;
  // padding: 20px !important;
  padding-right: 0 !important;
}
.el-form-item {
  margin-bottom: 0.75rem !important;
  &__error {
    right: 4px;
    left: initial !important;
  }
  &__label {
    padding: 0 !important;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter-active {
  display: none;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.el-dialog__title {
  font-weight: 600;
}

.el-alert--info {
  .el-alert__content {
    padding: 20px;
    margin: auto;
  }
  .el-alert__title {
    font-size: 1.17rem;
    color: #606266;
  }
  .el-alert__description {
    margin-top: 24px;
    text-align: center;
  }
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $--color-text-title;
}
h1 {
  font-size: 1.8rem;
  font-weight: 500;
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1rem;
  font-weight: 600;
}
h5 {
  font-size: 0.9rem;
  font-weight: 600;
}
h6 {
  font-size: 0.8rem;
  font-weight: 600;
}
p {
  font-size: 0.9rem;
}

// Rewriting tags style
b {
  font-weight: 600;
}
